---
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/HeroSection.astro';
import Blog from '../components/Blog.astro';
import CallToAction from '../components/CallToAction.astro';
import Features from '../components/Features.astro';
import Stats from '../components/Stats.astro';
import Testimonials from '../components/Testimonials.astro';
import { BIOGRAPHY } from '../consts';
import projects from './projects/projects';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).map((post) => {
	const slug = `/blog/${post.slug}`;
	return {
		...post,
		data: {
			...post.data,
			url:slug,
		},
	}
}).sort(
	(a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
);


const bookshelf = (await getCollection('bookshelf')).map((book) => {
	const slug = `/bookshelf#${book.slug}`;
	return {
		...book,
		data: {
			...book.data,
			url:slug,
		},
	}
})

const trimmedDescription = bookshelf.map((book) => {
	let trimmedDescription = book.data.description.substring(0, 100);
	if (book.data.description.length > 100) {
		trimmedDescription += '...';
	}
	return {
		...book,
		data: {
			...book.data,
			description: trimmedDescription,
		},
	};
	
}).sort((a, b) => {
	return b.data.rating - a.data.rating;
})
---

<Layout title="Antonio Feregrino" description={BIOGRAPHY}>
	<main class="space-y-10 mb-40">
		<HeroSection/>
		<Features anchor="blog" title="Blog" description="Here is some stuff I've written" collection={posts} />
		<Features anchor="projects" title="Projects" description="Some of the projects I have created or worked on" collection={projects} />
		<Features anchor="bookshelf" title="Book recommendations" description="Lately I have been reading a lot, so here are my recommendations" collection={trimmedDescription} />
		<!-- <Stats/> -->
		<!-- <Testimonials/> -->
		<!-- <CallToAction/> -->
		<!-- <Blog/> -->
	</main>

	</Layout>