---
import Container from "./Container.astro";

const { anchor, title, description, collection } = Astro.props

const toolStyle = [
  "group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10",
];

const partial = collection.slice(0, 4);
---

<div id={anchor}>
  <Container>
    <div class="md:w-2/3 lg:w-3/2">
      <h1
        class="text-gray-900 dark:text-white font-bold text-4xl md:text-5xl xl:text-5xl"
      >
        {title}
      </h1>
      <h2
        class="my-3 text-1xl font-bold text-gray-700 dark:text-white md:text-2xl"
      >
        {description}
      </h2>
    </div>
    <div
      class="mt-8 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border grid-cols-[5fr,5fr] lg:grid-cols-[5fr,5fr,5fr,5fr,1fr] border-gray-100 text-gray-600 dark:border-gray-700"
    >
    {
      partial.map((item)=> (
        <div class={toolStyle.join("")}>
          <div class="relative space-y-4 py-6 p-6">

            <img
                src={item.data.iconUrl}
                class={`w-12 ${item.data.iconUrl ? "" : "hidden"}`}
                width="512"
                height="512"
                alt="burger illustration"
              />
          <div class="space-y-1">
                <h5 class="text-lg lg:text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary">
                  {item.data.title}
                </h5>
                <p class="text-sm lg:text-lg md:text-base text-gray-600 dark:text-gray-300">
                  {item.data.description}
                </p>
              </div>
              <a
                href={item.data.url}
                class={`flex items-center justify-between group-hover:text-secondary ${item.data.url===undefined ? "hidden" : ""}`}
              >
                <span class="text-sm">Read more</span>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z"
                    clip-rule="evenodd"
                  />
                </svg>
              </a>
            </div>
        </div>
      ))
    }
    <a class="group relative text-center py-2 px-3  hover:text-secondary  dark:text-white  bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10 lg:[text-orientation:sideways-right] lg:[writing-mode:vertical-lr] col-span-2 lg:col-span-1"  href={`/${anchor}`}>  
      View all
  </a>
    </div>
  </Container>
</div>
