---
import type { CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import Container from '../components/Container.astro';
import Layout from './Layout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, publishDate, updatedDate, heroImage } = Astro.props;

const headingStyles = [
	'font-semibold',
	'before:content-["#"]',
	'before:text-accent',
	'before:absolute',
	'before:-ml-4',
	'th:before:content-none',
]
;
---


<Layout title={title} description={description} image={heroImage}>
	<Container>


		<main class="flex items-center justify-center py-24">
			<article class="flex max-w-prose">
				<div>
					<div class="title dark:text-white">
						<div class="date">
							<FormattedDate date={publishDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1 class="text-4xl font-bold pb-3">{title}</h1>
						<a href="/blog">&#8592; Back to blog</a>
						<hr class="h-px my-6 bg-gray-200 border-0 dark:bg-gray-700"/>
					</div>
					<div class="prose prose-cactus max-w-none dark:prose-invert">
					<slot />
				</div>
				</div>
			</article>
		</main>
	</Container>
	</Layout>
