---
import AppFooter from "../components/AppFooter.astro";
import AppHeader from "../components/AppHeader.astro"
import BaseHead from "../components/BaseHead.astro";
import JsonLd from "../components/JsonLd.astro";
import { BIOGRAPHY } from "../consts";

const { title, description, image, language = 'en' } = Astro.props

// Add JSON-LD for homepage
const isHomepage = Astro.url.pathname === '/';
const personData = {
	biography: BIOGRAPHY
};
---


<!DOCTYPE html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description} />
		<!-- Font Awesome with optimized loading -->
		<link rel="preload" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
		<noscript><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" /></noscript>
		<title>{title} - feregri.no</title>

		<!-- Optimized Google Fonts loading -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700&display=swap" rel="stylesheet">
		
		<!-- Font loading optimization script -->
		<script>
			// Optimize font loading with fallbacks
			if ('fonts' in document) {
				document.fonts.ready.then(() => {
					document.documentElement.classList.add('fonts-loaded');
				});
			}
		</script>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body class="bg-white dark:bg-gray-900 font-urbanist scroll-smooth m-0">
		{isHomepage && <JsonLd type="Person" data={personData} />}
		<AppHeader/>
		<slot />
		<AppFooter/>
		<!-- 100% privacy-first analytics -->
		<script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
		<noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
	</body>
</html>